[submodule "beh-ratings-events"]
	path = beh-ratings-events
	url = https://github.com/neuranna/beh-ratings-events.git
[submodule "Event_Knowledge_Model_Comparison"]
	path = Event_Knowledge_Model_Comparison
	url = https://github.com/giuliarambelli/Event_Knowledge_Model_Comparison.git
